<div class="container">
  <hr>
  <div class="row">
    <form ng-submit="load(input_url)">
      <div class="col-md-2">
        <input ng-model="input_url" type="text" class="form-control" placeholder="Type url here">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-default">Load url</button>
      </div>
    </form>
    <button type="submit" class="btn btn-default" ng-click="add()">Add screen</button>
  </div>
  </br>
  <button type="button" class="btn btn-md btn-primary" data-animation="am-flip-x" bs-dropdown="dropdown">Auto refresh
  <br></button>

  <hr>
</div>
<div element-resizable element-draggable>
  <div class="resize-container" ng-repeat="screen in screens">
    <iframe  ng-src="{{screen.url | trustAsResourceUrl}}" class="resize draggable" style="width: 450px; height: 450px" ></iframe>
  </div>
</div>
